body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size:3em;
}
.display-type{
    display: flex;
}
.half-width{
    width:50rem;
}
.img-res-first{
    width:38rem;
}
.p-block{
    padding:4rem;
}
.link-btn{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    border-radius: 35px;
    padding:15px;
    color:white;
    font-weight: bold;
}
.title-color{
    background-image: linear-gradient(orange,tomato);
    -webkit-background-clip: text;   
    -webkit-text-fill-color: transparent;
}
.top-m{
    margin-bottom:70px;
}
.padding{
    padding:10rem;
}
.img-res-sec{
    width:33rem;
    padding:3rem;
    height: 40rem;
}
.about-img{
    background-image: url(images/shapes/Frame\ 58.jpg);
   
    background-size: cover;
}
